@model Location_de_voitures.Models.Client
@{
    ViewBag.Title = "register";
}

<body class="my-login-page" style="background:#1E5067;margin-bottom:100px">
    <section class="h-100">
        <div class="container ">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="@Href("~/assets/img/logo.jpg")" alt="bootstrap 4 login page">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Register</h4>
                            @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "my-login-validation" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", placeholder = "Name", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    <div class="invalid-feedback">
                                        What's your name?
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    <div class="invalid-feedback">
                                        Your email is invalid
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    @Html.PasswordFor(model => model.Password,  new { @class = "form-control", placeholder = "Password", required = "required"  })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <div class="invalid-feedback">
                                        Password is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Telephone</label>
                                    @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone Number", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                                    <div class="invalid-feedback">
                                        Password is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Adresse">Adresse</label>
                                    @Html.EditorFor(model => model.adresseClient, new { htmlAttributes = new { @class = "form-control", placeholder = "Adresse", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.adresseClient, "", new { @class = "text-danger" })
                                    <div class="invalid-feedback">
                                        Password is required
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:10px">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
                                        <label for="agree" class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></label>
                                        <div class="invalid-feedback">
                                            You must agree with our Terms and Conditions
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Register
                                    </button>
                                </div>
                                <div class="mt-4 text-center">
                                    Already have an account?  @Html.ActionLink("LogIn", "Login", "Home", new object { }, new { @class = "", id = "Admin" })
                                </div>
                            }
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    </body>


