@model Location_de_voitures.Models.Voiture

@{
    ViewBag.Title = "Details";
}
<body class="my-login-page" style="background:#1E5067 ;margin-top:100px; color:aliceblue">
    <div class="container">
        <h2>Details</h2>

        <div>
            <h4>Voiture</h4>
            <hr />

        </div>

    </div>
    <div class="container bootdey">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="pro-img-details">
                            <img src="~/carsImg/@Html.DisplayFor(model =>model.ImgUrl)"  style="max-height:400px;max-width:400px"/>
                        </div>

                    </div>
                    @using (Html.BeginForm("Setdata", "Clients", FormMethod.Post, new { @class = "my-login-validation" }))
                    {
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PrixKm)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PrixKm)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.datePriseduKm)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.datePriseduKm)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.kilometrage)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.kilometrage)
                                </dd>
                                <div class="form-group has-feedback">

                                  <label>KM</label>
                                   <input type="text" name="km" class="control" />
                                </div>

                                <input type="submit" value="subb"/>
</div>
                    }
                    </div>
                    
            </section>
        </div>
    </div>
</body>