@model  IEnumerable<Location_de_voitures.Models.Client>

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/assets/css/main.css")
@Styles.Render("~/assets/css/util.css")
@Styles.Render("~/assets/vendor/select2/select2.min.css")
@Styles.Render("~/assets/vendor/perfect-scrollbar/perfect-scrollbar.css")
<body class="my-login-page" style="background:#1E5067 ;margin-top:100px; color:aliceblue">
    <div class="limiter">
        <div class="container">
            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create", "Admin") |
                @Html.ActionLink("Client", "Index", "Clients") |
                @Html.ActionLink("VL", "Index", "LocationDeVoitures")|
                @Html.ActionLink("Voitures", "Index", "Admin")
            </p>

            <p>

            </p>


            <div class="container-table100" style="background:#1E5067">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1"> @Html.DisplayNameFor(model => model.Nom)</th>
                                        <th class="cell100 column2"> @Html.DisplayNameFor(model => model.email)</th>
                                        <th class="cell100 column3">@Html.DisplayNameFor(model => model.Password)</th>
                                        <th class="cell100 column4"> @Html.DisplayNameFor(model => model.Tel)</th>
                                        <th class="cell100 column4"> @Html.DisplayNameFor(model => model.adresseClient)</th>
                                        <th class="cell100 column4"> action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="row100 body">
                                            <td class="cell100 column1">@Html.DisplayFor(modelItem => item.Nom)</td>
                                            <td class="cell100 column2"> @Html.DisplayFor(modelItem => item.email)</td>
                                            <td class="cell100 column3">@Html.DisplayFor(modelItem => item.Password)</td>
                                            <td class="cell100 column3">@Html.DisplayFor(modelItem => item.Tel)</td>
                                            <td class="cell100 column3">@Html.DisplayFor(modelItem => item.adresseClient)</td>
                                            <td class="cell100 column5">
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id_cli }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id_cli }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id_cli })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>